# Emacs temporary files
*~
\#*\#
.\#*

# Emacs auto-save files
*.swp
*.swo

# Ignore everything in the root
/*

# Allow specific folders and files
!/.gitignore
!/init.el
!/config/
!/snippets/
!/emacs/config/
!/emacs/snippets/
!/emacs/init.el

# Ignore specific files and folders
.env
*.gif
hypr/themes/colors.conf
zsh/
