@define-color bar-bg rgba(66,40,57,0);
@define-color main-bg rgba(66,40,57,0.8);
@define-color main-fg rgba(240,170,216,0.8);
@define-color wb-act-bg rgba(247,220,235,0.4);
@define-color wb-act-fg rgba(255,204,232,1);
@define-color wb-hvr-bg rgba(125,75,96,0.4);
@define-color wb-hvr-fg rgba(240,170,192,0.8);
